<p style="text-align:center; font-size: 50px">Caso práctico TEMA 4</p>

<div style="position: relative; right: -170px;">
    <img src="https://logohistory.net/wp-content/uploads/2023/06/Python-Emblem.png" 
        alt="python" 
        style="width: 550px; heigth: 100 px;">
</div>

<p style="text-align:right;"> Nombre: Samuel Arteaga López </p>
<p style="text-align:right;"> Módulo: Sistemas de Big Data </p>
<p style="text-align:right;"> Fecha de entrega: 6/02/2025 </p>

# <strong>Índice</strong>
1. [Importación de librerías](#importación-de-librerias)
2. [Apartado 1: Crear DataFrame con datos de Enrique](#creación-del-dataframe)
3. [Apartado 2: Añadir puntuaciones de Ana](#calculo-de-total-de-gastos-y-beneficio)
4. [Apartado 3: Ajustar escala de PuntosAna](#obtencion-de-meses-con-ingresos-y-beneficios-máximos-y-minimos)
5. [Apartado 4: Añadir nuevas razas](#agrupacion-de-ingresos-y-beneficios)
6. [Apartado 5: Calcular la media](#funcion-de-calcular-moda)
7. [Apartado 6: Eliminar Bulldog](#calculos-estadisticos)
8. [Apartado 7: Filtrar solo las razas seleccionadas](#representaciones-graficas)
9. [Apartado 8: Mostrar estadísticas](#representaciones-graficas)

Enrique y Ana se conocieron hace 3 años y han decidido irse a vivir juntos.
Les encantan los perros, así que además están pensando en adoptar uno. Enrique, que
es programador, creó hace unos días un sencillo programa en Python para poder dar un
vistazo rápido a las razas que más le gustan, a modo de DataFrame de Pandas en el que
contempla tanto el nombre de la raza como una puntuación de 0 a 10 indicando cuánto le
gusta esa raza. <br>
Ana está de acuerdo en adoptar una de las razas que Enrique tiene contempladas, así
que le ha dicho cuánto le gusta cada una de ellas (de 0 a 100) para que Enrique lo integre
en su DataFrame. Así podrán calcular medias para decidir qué raza les gusta más a los
dos.

## ¿Qué te pedimos que hagas?
A continuación tienes la primera parte del programa de Enrique. Accede al intérprete de
Python en trinket.io, pega el código fuente que te entregamos y ejecútalo (con el botón del
triángulo negro de la parte superior).

## Importación de librerias

In [1]:
import pandas as pd

## Apartado 1: Crear DataFrame con datos de Enrique

Crea un DataFrame llamado df a partir de la lista de razas y puntuaciones otorgadas por
Enrique, usando el índice, las columnas que se te proporcionan.

In [2]:
indice = ['uno','dos','tres','cuatro','cinco']
columnas = ['Raza','Puntos']
lista = [['Caniche',8.1],['Bulldog',7.3],['ChowChow',7.6],
         ['Chihuahua',9.0],['Labrador',9.3]]
df = pd.DataFrame(lista, index=indice, columns=columnas)
print(df)

             Raza  Puntos
uno       Caniche     8.1
dos       Bulldog     7.3
tres     ChowChow     7.6
cuatro  Chihuahua     9.0
cinco    Labrador     9.3

Utiliza la información que encontrarás en los contenidos de la unidad para crear un
documento en el que escribirás el código fuente que Enrique ha necesitado seguir
escribiendo para llegar a las soluciones correspondientes a lo que se te dice en los
siguientes apartados.<br><br>
Al final de los apartados te damos toda la salida por pantalla que deberá tener el
programa, para que sepas con claridad si estás consiguiendo lo que se te solicita. Tendrás
que usar constantemente la función print para ello.

## Apartado 2: Añadir puntuaciones de Ana

Ana le entrega sus puntuaciones a Enrique y éste las transcribe en forma de la siguiente
lista:

Añade la columna con etiqueta 'PuntosAna' al DataFrame

In [3]:
df['PuntosAna'] = [61,75,82,95,99]
print(df)

             Raza  Puntos  PuntosAna
uno       Caniche     8.1         61
dos       Bulldog     7.3         75
tres     ChowChow     7.6         82
cuatro  Chihuahua     9.0         95
cinco    Labrador     9.3         99

## Apartado 3: Ajustar escala de PuntosAna

Como las puntuaciones de Ana han entrado en valores de 0 a 100 y las de Enrique
estaban de 0 a 10, divide la columna 'PuntosAna' entre 10 de modo que todas las
puntuaciones queden en la misma escala.

In [4]:
df['PuntosAna'] = df['PuntosAna'] / 10
print(df)

             Raza  Puntos  PuntosAna
uno       Caniche     8.1        6.1
dos       Bulldog     7.3        7.5
tres     ChowChow     7.6        8.2
cuatro  Chihuahua     9.0        9.5
cinco    Labrador     9.3        9.9

## Apartado 4: Añadir nuevas razas

Enrique y Ana han estado viendo una revista de animales y han decidido añadir otras dos
razas más, por lo que han creado la siguiente lista ya con sus puntuaciones integradas.

In [5]:
lista2 = [['Samoyedo',9.2,8.9],['Pinscher',8.1,6.7]]
df2 = pd.DataFrame(lista2, index=['nuevo1', 'nuevo2'], columns=['Raza', 'Puntos', 'PuntosAna'])
df = pd.concat([df, df2])
print(df)

             Raza  Puntos  PuntosAna
uno       Caniche     8.1        6.1
dos       Bulldog     7.3        7.5
tres     ChowChow     7.6        8.2
cuatro  Chihuahua     9.0        9.5
cinco    Labrador     9.3        9.9
nuevo1   Samoyedo     9.2        8.9
nuevo2   Pinscher     8.1        6.7

## Apartado 5: Calcular la media

Crea la columna 'Media' para poder ver la puntuación media para cada raza.

In [6]:
df['Media'] = df[['Puntos', 'PuntosAna']].mean(axis=1)
print(df)

             Raza  Puntos  PuntosAna  Media
uno       Caniche     8.1        6.1   7.10
dos       Bulldog     7.3        7.5   7.40
tres     ChowChow     7.6        8.2   7.90
cuatro  Chihuahua     9.0        9.5   9.25
cinco    Labrador     9.3        9.9   9.60
nuevo1   Samoyedo     9.2        8.9   9.05
nuevo2   Pinscher     8.1        6.7   7.40

## Apartado 6: Eliminar Bulldog

Enrique y Ana deciden que no tendrán un bulldog. Elimina la fila cuyo índice es 'dos'.

In [7]:
df = df.drop(index='dos')
print(df)

             Raza  Puntos  PuntosAna  Media
uno       Caniche     8.1        6.1   7.10
tres     ChowChow     7.6        8.2   7.90
cuatro  Chihuahua     9.0        9.5   9.25
cinco    Labrador     9.3        9.9   9.60
nuevo1   Samoyedo     9.2        8.9   9.05
nuevo2   Pinscher     8.1        6.7   7.40

## Apartado 7: Filtrar solo las razas seleccionadas

Viendo las puntuaciones medias, Enrique y Ana deciden que la decisión va a estar entre
chihuahua, labrador y samoyedo, por lo que deciden obtener sólo esas filas del
DataFrame (en concreto desde la posición 2 hasta la 5 -no incluída-).

In [8]:
df = df.loc['cuatro':'nuevo1']
print(df)

             Raza  Puntos  PuntosAna  Media
cuatro  Chihuahua     9.0        9.5   9.25
cinco    Labrador     9.3        9.9   9.60
nuevo1   Samoyedo     9.2        8.9   9.05

## Apartado 8: Mostrar estadísticas

Por último, sólo por curiosidad, deciden ver información estadística sobre las filas que les
han quedado.

In [ ]:
describe_df = df[['Puntos', 'PuntosAna', 'Media']].describe()
print(describe_df)

         Puntos  PuntosAna     Media
count  3.000000   3.000000  3.000000
mean   9.166667   9.433333  9.300000
std    0.152753   0.503322  0.278388
min    9.000000   8.900000  9.050000
25%    9.100000   9.200000  9.150000
50%    9.200000   9.500000  9.250000
75%    9.250000   9.700000  9.425000
max    9.300000   9.900000  9.600000